In [ ]:
import pandas as pd

## Part 1 - Dealing with Null Data

In [ ]:
df_SAFI = pd.read_csv("SAFI_results.csv")

In [ ]:
df_SAFI.head()

In [ ]:
#Removing a column from a dataframe

df_SAFI.drop(["Column1"], axis='columns')

In [ ]:
#Removing a row from a dataframe

df_SAFI.drop([4], axis='index')

In [ ]:
#Find the number of null (NaN) values for each column in a dataframe

df_SAFI.isnull().sum()

In [ ]:
#Find the number of null values for a particular column

df_SAFI = pd.read_csv("SAFI_results.csv") #Re-reading full CSV to re-insert dropped data into dataframe

df_SAFI['E19_period_use'].isnull().sum()

In [ ]:
#Find the number of rows and columns in a dataframe

df_SAFI = pd.read_csv("SAFI_results.csv")
df_SAFI.shape

In [ ]:
#Use dropna() to remove ALL rows that contain null values in a dataframe

df_SAFI.dropna(inplace=True)
print(df_SAFI.shape)

In [ ]:
#Use dropna() to remove all columns with NaN values

df_SAFI = pd.read_csv("SAFI_results.csv")

df_SAFI.dropna(inplace=True, axis="columns")
print(df_SAFI.shape)

In [ ]:
#Use dropna() to remove rows in a dataframe that have Nan values in a particular column

df_SAFI = pd.read_csv("SAFI_results.csv")

df_SAFI = df_SAFI[(df_SAFI['E_no_group_count'].notnull())]
print(df_SAFI.shape)

In [ ]:
#Using describe to count how many values in a column that have values (non-null)

df_SAFI = pd.read_csv("SAFI_results.csv")

df_SAFI['E19_period_use'].describe()

In [ ]:
#Replacing the NaN values with 0 (notice how total values count goes up, affecting statistical calculations)

df_SAFI['E19_period_use'].fillna(0, inplace=True)
df_SAFI['E19_period_use'].describe()

In [ ]:
#Exercise 1:

df_SAFI_subset = df_SAFI[["C01_respondent_roof_type", "C02_respondent_wall_type", "C02_respondent_wall_type_other", "C03_respondent_floor_type"]]


col_no = len(df_SAFI_subset.columns)
row_no = len(df_SAFI_subset.index)

total_cells = col_no * row_no
    
null_cells = 0

for x in df_SAFI_subset.isnull().sum():
    null_cells += x

percentage_null = ((null_cells/total_cells) * 100)

print(percentage_null)

## Part 2 - Grouping and Aggregating data

In [ ]:
#Print the unique values in a column


pd.unique(df_SAFI['C01_respondent_roof_type'])

In [ ]:
#Aggregate statistics about each unique value in a particular column

grouped_data = df_SAFI.groupby('C01_respondent_roof_type')
grouped_data.describe()

In [ ]:
#Group by multiple column values

grouped_data = df_SAFI.groupby(['C03_respondent_floor_type','C01_respondent_roof_type', 'C02_respondent_wall_type'])
grouped_data.describe()

In [ ]:
#Generate summary statistics about aggregated data

A11_years_farm = df_SAFI.groupby(['C01_respondent_roof_type', 'C02_respondent_wall_type'])['A11_years_farm'].count()
A11_years_farm

## Exercise 2

In [ ]:
#Exercise 2 Part 1-2 (Read in the SAFI_results.csv dataset. Get a list of the different C01_respondent_roof_type values.)

import numpy as np
df_SAFI = pd.read_csv("SAFI_results.csv")
print(pd.unique(df_SAFI['C01_respondent_roof_type']))

In [ ]:
#Exercise 2 Part 3 (Groupby C01_respondent_roof_type and describe the results.)
grouped_data = df_SAFI.groupby('C01_respondent_roof_type')
grouped_data.describe()

In [ ]:
#Exercise 2 Part 4-5: Remove rows with NULL values for E_no_group_count, and repeat steps 2 & 3 and compare the results.


df_SAFI = df_SAFI[(df_SAFI['E_no_group_count'].notnull())]

grouped_data = df_SAFI.groupby('C01_respondent_roof_type') 

print(pd.unique(df_SAFI['C01_respondent_roof_type'])) 
grouped_data.describe()

## Part 3 - Combining Dataframes

In [ ]:
import pandas as pd

df_a = pd.read_csv("SN7577i_a.csv")
df_b = pd.read_csv("SN7577i_b.csv")

In [ ]:
df_a.head()

In [ ]:
df_b.head()

In [ ]:
#Using concat to join rows

df_all_rows = pd.concat([df_a, df_b])
df_all_rows

In [ ]:
# Using reset_index to replace the index with a defulat numerical index

df_all_rows=df_all_rows.reset_index(drop=True)
df_all_rows

In [ ]:
#Generate summary statistics of the concatenated dataframe

df_all_rows.describe()

In [ ]:
#Using concat to join columns

df_all_columns = pd.concat([df_a, df_b], axis=1)
df_all_columns

In [ ]:
df_aa = pd.read_csv("SN7577i_aa.csv")
df_bb = pd.read_csv("SN7577i_bb.csv")

In [ ]:
df_aa.columns.values

In [ ]:
df_bb.columns.values

In [ ]:
#Concatenating dataframes with different columns

df_all_rows_2 = pd.concat([df_aa, df_bb])
df_all_rows_2

In [ ]:
# Merging dataframes

df_c = pd.read_csv("SN7577i_c.csv")
df_d = pd.read_csv("SN7577i_d.csv")

print(df_c)
print(df_d)

df_cd = pd.merge(df_c, df_d, how='inner', on='Id')
df_cd

In [ ]:
#Exercise 3

df_aabb = pd.merge(df_aa, df_bb, how='outer', on = 'Id')
df_aabb